<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
    <ion-card full>
        <ion-item>
          <h1>Login Social Networks</h1>
        </ion-item>
        <img src="https://pbs.twimg.com/profile_images/963655937256034304/H1FWC3Jk.jpg">
    
      
      </ion-card>
    
  <button ion-button (click)="loginWithFacebook()" *ngIf="!provider.loggedin" color="default" round>
      <ion-icon name="logo-facebook"> </ion-icon> Facebook</button>
  
      <button ion-button (click)="loginWithTwitter()" *ngIf="!provider.loggedin" color="light" round>
          <ion-icon name="logo-twitter"> </ion-icon>Entrar Via Twitter </button>
  
      <button ion-button (click)="loginWithGoogle()" *ngIf="!provider.loggedin" color="secondary" round>
      <ion-icon name="logo-google"></ion-icon>Google </button>
      
 
   
  <ion-card *ngIf="provider.loggedin">
    <img src="{{ provider.profilePicture }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ provider.name }}
      </ion-card-title>
      <p style=" text-align: center">

        {{ provider.email}}
      </p>

    </ion-card-content>
  </ion-card>

  <button ion-button (click)="logout()" *ngIf="!provider.loggedin">Logout</button>
</ion-content>
